<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MyLibraryTest.Properties.Settings.GULER_ANAHTARConnectionString"
            connectionString="Data Source=212.68.46.197;Initial Catalog=GULER_ANAHTAR;Persist Security Info=True;User ID=sa;Password=SM4551sm;Connect Timeout=60"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
